:root {
  --heading: #24c78c;
  --white: #ffffff;
  --gray: #f3f2f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}
.active {
  color: var(--heading);
}
